* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: sans-serif;
  font-weight: 400;
  background-color: antiquewhite;
  font-size: 18px;
}
.container {
  width: 40rem;
  margin: 10rem auto;
  background-color: rgb(184, 210, 230);
}
img {
  width: 100%;
}
.desc {
  padding: 12px 12px;
}
.desc h1 {
  text-align: center;
  padding-bottom: 8px;
}
.desc p {
  text-align: center;
}
.skills {
  display: flex;
  flex-wrap: wrap;
  padding-left: 8px;
}
.skill {
  padding: 8px;
}
.skill button {
  border: none;

  padding: 8px;
  border-radius: 20px;
}
